<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Text Detector</title>
    </head>
    <body>
        <div class="main-container">
            <button id="screen-shot">Screen Shot</button>
            <br />
            <!-- <p id="screenshot-path"></p> -->
            <!-- <img id="preview" alt="image-clipper preview" /> -->
        </div>
        <canvas id="canvas" width="1280" height="720"></canvas>
        <script src="image-clipper.js"></script>
        <script src="index.js"></script>
    </body>
</html>
