body {
    background-color: #313841;
}

/* .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    border-radius: 2px;
}

#canvas:hover {
    cursor: crosshair;
}

button {
    display: block;
    height: 30px;
    width: 200px;
    position: absolute;
    margin: 10px auto 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: tomato;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    overflow: hidden;
    border-radius: 2px;
}

button:before {
    position: absolute;
    content: '';
    height: 30px;
    width: 200px;
    background-image: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 50%,
        transparent 50%
    );
    top: 0;
    bottom: 0;
    transform: skew(-45deg);
    left: -450px;
    transition: 1.2s;
}

button:hover::before {
    left: 450px;
}

button:hover {
    cursor: pointer;
}
